{% trans_default_domain 'FOSUserBundle' %}


<div class="page-header">
    <h1>Mes paramètres</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li><a href="{{ path('fos_user_change_password') }}">Mon compte</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="titledonnees">
                    <h2>Mes données</h2>
                    <div class="modifdonnees">
                        <a href="{{ path('fos_user_profile_show') }}">
                            <span class="glyphicon glyphicon-pencil"></span>Revenir
                        </a>
                    </div>
                </div>
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
