{% trans_default_domain 'FOSUserBundle' %}

<div class="page-header">
    <h1>Mes paramètres</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="active"><a data-toggle="tab" href="#choice1" role="tab">Mon compte</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="choice1">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Modifier mon mot de passe</h2>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
