<div class="panel panel-primary {% if video.isActive == 0 %}unactive{% endif %}">
    <div class="panel-heading titlevideo">
        <h3 class="panel-title">
            <a href="#">{{ video.user.username }}</a> -- {{ video.titre }}
        </h3>
        {% if app.user and app.user == video.user %}
            <div class="deletevideo">
                <a href="#" onclick="confirmdelete({{ video.id }});return false;" >
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="modifvideo">
                <a href="{{ path('app_edit_video', {'id':video.id}) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="panel-body miniature">
        <figure>
            <img src="http://img.youtube.com/vi/{{ video.urlNumber }}/0.jpg" alt="miniature" title="miniature"/>
            <figcaption>Voir la vid&eacute;o : <a href="{{ path('app_view_video', {'id':video.id }) }}">{{ video.titre }}</a></figcaption>
        </figure>
        <a href="{{ path('app_view_video',{'id':video.id}) }}">
            <span class="glyphicon glyphicon-play logo_play"></span></a>
    </div>
    <div class="panel-footer">
        <p>nombres de vues : {{ video.count }} -- nombres de vues unique : {{ video.vues.count }}</p>
    </div>
</div>