{%  extends 'base.html.twig' %}

{% block title %} Voir une vidéo {% endblock %}

{% block content %}
    <h1>Affichage d'une vid&eacute;o</h1>
    {% if video %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{{ path('app_profil_view',{'username':video.user.username}) }}">{{ video.user.username }}</a> -- {{ video.titre }}
                </h3>
            </div>
            <div class="panel-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.urlNumber }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="panel-footer">

                <p>nombres de vues : {{ video.count }} -- nombres de vues unique : {{ video.vues.count }}</p>
                {% if app.user %}
                    {% set isFav = FALSE %}
                    {% for favori in video.favoris %}
                        {% if favori.user == app.user %}
                            {% set isFav = TRUE %}
                        {% endif %}
                    {% endfor %}
                    {% if isFav %}
                        <a href="{{ path('app_remove_fav',{'id':video.id}) }}">
                            <span class="glyphicon glyphicon-heart like" title="Retirer de mes favoris"></span>
                        </a>
                    {% else %}
                        <a href="{{ path('app_new_fav', {'id':video.id }) }}">
                            <span class="glyphicon glyphicon-heart-empty dislike" title="Ajouter à mes favoris"></span>
                        </a>
                    {% endif %}
                    {{ video.favoris.count }}
                    {% if isReporting %}
                        <p>Vous avez signal&eacute; cette vid&eacute;o --
                            <a href="{{ path('app_reporting_remove', {'id':video.id}) }}">
                                Annuler
                            </a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{{ path('app_reporting_new',{'id':video.id}) }}">
                                Signaler cette vid&eacute;o
                            </a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <p>Vidéo introuvable !</p>
    {% endif %}
{%  endblock %}
