{% extends 'base.html.twig' %}

{% block title %}
    Mes Favoris
{% endblock %}

{% block content %}
    <h1>Partage de vid&eacute;os</h1>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h2>Liste des vid&eacute;os</h2>
        {% if app.user.favoris is not empty %}
            {% for favori in app.user.favoris %}
                <div class="panel panel-primary {% if favori.video.isActive == 0 %}unactive{% endif %}">
                    <div class="panel-heading titlevideo">
                        <h3 class="panel-title">
                            <a href="#">{{ favori.video.user.username }}</a> -- {{ favori.video.titre }}
                        </h3>
                        {% if app.user and app.user == favori.video.user %}
                            <div class="deletevideo">
                                <a href="#" onclick="confirmdelete({{ favori.video.id }});return false;" >
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                            <div class="modifvideo">
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="panel-body miniature">
                        <figure>
                            <img src="http://img.youtube.com/vi/{{ favori.video.urlNumber }}/0.jpg" alt="miniature" title="miniature"/>
                            <figcaption>Voir la vid&eacute;o : <a href="{{ path('app_view_video', {'id':favori.video.id }) }}">{{ favori.video.titre }}</a></figcaption>
                        </figure>
                        <a href="{{ path('app_view_video',{'id':favori.video.id}) }}">
                            <span class="glyphicon glyphicon-play logo_play"></span></a>
                    </div>
                    <div class="panel-footer">
                        <p>nombres de vues : {{ favori.video.count }} -- nombres de vues unique : {{ favori.video.vues.count }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun Favori !</p>
        {% endif %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        {% include 'rightcolumn.html.twig' %}
    </div>
{% endblock %}
